# Entorno virtual
.venv/
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Archivos de base de datos locales
*.sqlite3

# Configuración local y secretos (si existen)
.env
.env.*

# Archivos de logs y errores
*.log

# Archivos temporales
*.tmp
*.swp
*.bak

# VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
